<h1>Search for - <%= @search_term %></h1>
<%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search'  %>
<% end %>


<% if @courses.nil? %>

<p>No courses found with relevant information...sorry</p>
<% else %>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <!--link_to is url tag-->
  <% @courses.each do |course| %>
  <tr class=<%= cycle("even","odd") %>>
    <td><%= image_tag(course["smallIcon"])%></td>
    <td><%= course["name"] %></td>
    <td><%= course["shortDescription"]%></td>
  </tr>
  <% end %>

</table>

<% end %>